<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>

<body>
    <h1>List Article</h1>
    <% article.forEach(i=> { %>
        <h2>
            <%= i.title %>
        </h2>
        <h2>
            <%= i.body %>
        </h2>
        <% })%>
</body>

</html>