<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
</head>

<body>
    <h1>form untuk membuat Article</h1>

    <form action="/api/article" method="POST">
        <label>Title</label>
        <input type="text" name="title">

        <br><br>


        <label>Body</label>
        <input type="text" name="body">

        <br><br>

        <input type="submit" value="kirim">

    </form>


</body>

</html>